In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [13]:
df=pd.read_csv("pizza_sales.csv")

In [14]:
df.head()

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [15]:
df.isnull().sum()

pizza_id             0
order_id             0
pizza_name_id        0
quantity             0
order_date           0
order_time           0
unit_price           0
total_price          0
pizza_size           0
pizza_category       0
pizza_ingredients    0
pizza_name           0
dtype: int64

In [16]:
df['pizza_ingredients'] = df['pizza_ingredients'].str.split(',')

In [17]:
df['pizza_ingredients'] = df['pizza_ingredients'].apply(lambda x: [i.strip() for i in x])

In [18]:
df.head()

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"[Sliced Ham, Pineapple, Mozzarella Cheese]",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"[Pepperoni, Mushrooms, Red Onions, Red Peppers...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"[Mozzarella Cheese, Provolone Cheese, Smoked G...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"[Calabrese Salami, Capocollo, Tomatoes, Red On...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"[Tomatoes, Red Peppers, Jalapeno Peppers, Red ...",The Mexicana Pizza

In [22]:
df["order_time"]=pd.to_datetime(df["order_time"], format='%H:%M:%S').dt.time

In [23]:
df["order_hour"]=pd.to_datetime(df["order_time"],format='%H:%M:%S').dt.hour

In [25]:
def get_meal(hour):
    if 6<=hour<11:
        return "Breakfast"
    elif 11<=hour<16:
        return "Lunch"
    elif 16<=hour<22:
        return "Dinner"
    else:
        return "Late Night"
df["meal_time"]=df["order_hour"].apply(get_meal)

In [28]:
df.head()

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name,order_hour,meal_time
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"[Sliced Ham, Pineapple, Mozzarella Cheese]",The Hawaiian Pizza,11,Lunch
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"[Pepperoni, Mushrooms, Red Onions, Red Peppers...",The Classic Deluxe Pizza,11,Lunch
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"[Mozzarella Cheese, Provolone Cheese, Smoked G...",The Five Cheese Pizza,11,Lunch
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"[Calabrese Salami, Capocollo, Tomatoes, Red On...",The Italian Supreme Pizza,11,Lunch
4,5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"[Tomatoes, Red Peppers, Jalapeno Peppers, Red ...",The Mexicana Pizza,11,Lunch

In [30]:
df["order_date"]=pd.to_datetime(df["order_date"])

In [31]:
df["weekday_number"]=df["order_date"].dt.weekday

In [32]:
df.head()

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name,order_hour,meal_time,weekday_number
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"[Sliced Ham, Pineapple, Mozzarella Cheese]",The Hawaiian Pizza,11,Lunch,3
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"[Pepperoni, Mushrooms, Red Onions, Red Peppers...",The Classic Deluxe Pizza,11,Lunch,3
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"[Mozzarella Cheese, Provolone Cheese, Smoked G...",The Five Cheese Pizza,11,Lunch,3
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"[Calabrese Salami, Capocollo, Tomatoes, Red On...",The Italian Supreme Pizza,11,Lunch,3
4,5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"[Tomatoes, Red Peppers, Jalapeno Peppers, Red ...",The Mexicana Pizza,11,Lunch,3

In [33]:
def weekend(day):
    if day==5 or day==6:
        return 1
    else:
        return 0
df["weekend"]=df["weekday_number"].apply(weekend)

In [34]:
df.head()

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name,order_hour,meal_time,weekday_number,weekend
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"[Sliced Ham, Pineapple, Mozzarella Cheese]",The Hawaiian Pizza,11,Lunch,3,0
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"[Pepperoni, Mushrooms, Red Onions, Red Peppers...",The Classic Deluxe Pizza,11,Lunch,3,0
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"[Mozzarella Cheese, Provolone Cheese, Smoked G...",The Five Cheese Pizza,11,Lunch,3,0
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"[Calabrese Salami, Capocollo, Tomatoes, Red On...",The Italian Supreme Pizza,11,Lunch,3,0
4,5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"[Tomatoes, Red Peppers, Jalapeno Peppers, Red ...",The Mexicana Pizza,11,Lunch,3,0

In [35]:
df["ingredient_count"]=len(df["pizza_ingredients"])

In [37]:
df.to_csv('output.csv', index=False)